* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/266840/page_bg_generated_v6b.jpg?t=1620145994%27");
    background-attachment: fixed ;
    font: normal 13px/1.5 Georgia, Serif;
    color: #333;
}
.title_block{
    position: fixed;
    left: 10px;
}
.title{
    font-size: 30px;
    color: white;
    position: relative;
    border: white;
}
h2 {
    font-size: 16px;
    display: block;
    color: rgba(230, 230, 230,1);
}
.wrapper {
    width: 800px;
    margin: 36px auto;
    padding: 20px;
}
.items {
    display: block;
    margin: 20px 0;
}
.item {
    background: rgba(17, 28, 42, 0.4);
    float: left;
    margin: 0 10px 10px 0;
    width: 235px;
    padding: 10px;
    height: 220px;
}
.img_block{
    float: left;
    width: 235px;
    height: 120px;
}
.name_block{
    margin: 0 4px;
    float: left;
    width: 240px;
    height: 50px;
}
.game_tag{
    margin: 0 4px 4px;
    font-size: 16px;
    color: rgba(230,230,230,1);
}
.item img {
    display: block;
    margin: auto;
    width: 100%;
}
.details {
    padding: 4px 14px;
    color: rgb(85,160,203);
    text-transform: uppercase;
    float: right;
    margin: auto 0;
    font-weight: bold;
    cursor: pointer;
}
.price{
    font-size: 18px;
    margin: 0 4px;
    color: rgba(230, 230, 230,1);

}
.load_block{
    text-align: center;
    font-size: 48px;
}
.loadmore{
    position: relative;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}
span {
    float: right;
}
nav{
width: 100%;
height: 50px;
background: rgba(21, 21, 21, 0.7);
position: fixed;
top: 0;
}
.link{
    list-style: none;
line-height: 30px;
float: right;
position: fixed;
    right: 25px;
}
.link li{
float: left;
text-align: center;
}
.link a{
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
    position: relative;
}
.link img{
    width: 30px;
    height: 30px;
}
#sidebar{
	/*display: none;*/
	position: fixed;
	right:-18%;
	top:50px;
	bottom: 0;
	color:#fff;
	width :18%;
	background: #333;
	text-align: center;
	/*加出来的动画*/
	transition: right 0.5s;
}
#sidebar ul{
	list-style: none;
	padding: 0;
	margin: 30px 0 0 0;
	width: 100%;
    position: center;
}
/*侧边栏打开后显示遮罩层，变现出层级效果*/
.mask{
	display: none;
    width: 82%;
	position: fixed;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}
/*右侧边栏*/
#sidebar ul a{
	display: inline-block;
	text-decoration: none;
	color:#fff;
	width: 100%;
    font-size: 20px;
}
#sidebar ul li{
    width: 90%;
    margin: 0 15px;
    font-size: 18px;
}
#sidebar ul a:hover{
	background: #444;;
	width: 100%
}
#sidebar ul input{
    margin: 10px;
}
input[type=text]{
        background-color: rgb(51,51,51);
    color: #ffffff;
    border-style: none;
    border-bottom-color: #ffffff;
    border-bottom-style: groove;
}
input[type=submit]{
    background-color: rgb(51,51,51);
    color: #ffffff;
    text-transform: uppercase;
    margin: auto 0;
    font-weight: bold;
    cursor: pointer;
    border:none;
 		}
.about_me{
    margin: 280px 0 0 0 ;
    bottom: 0;
    cursor: pointer;
}