<!DOCTYPE html>
<head>
    <meta http-equiv ="content-type" content="text/html;charset=utf-8">
    <title>游戏画廊</title>
    <style>@import "static/index.css";</style>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        	$(".loadmore").click(function(){
        		$.ajax({url:"/loadmore",success:function(result){
        			$(".items").append(result);
        		}});
        	});
        });
         function load_detail(url,Appid,Appname){
            window.open(url);
            $.post("/click", {aid: Appid,AppName:Appname}).done();
        }
        function update_like(Appid, Appname, type){
             $.post("/update_like", {aid: Appid,AppName:Appname,type:type}).done();
        }
        $(function(){
          'use strict';
           var sidebar = $('#sidebar'); //选择侧栏
           var mask=$(".mask"); //选择遮罩
           // var backButton = $('.back-to-top'); //选择返回顶部
           var sidebar_trigger=$('#sidebar_trigger');//选择侧栏触发器

            function showSidebar(){  //显示侧栏
              mask.fadeIn();  //显示mask
              sidebar.animate({'right':0});  //调整侧栏css
              //sidebar.css('right',0);//两种写法都ok
              }
            function hideSideBar(){  //隐藏mask
                mask.fadeOut();
                sidebar.css('right',-sidebar.width());
                console.log("mask");
              }
             sidebar_trigger.on('click',showSidebar); //监听侧栏触发器点击
             mask.click(hideSideBar);   //监听mask
})
    </script>
</head>
<body>
<nav>
    <div class="title_block">
        <a class="title" haref="#">Games Gallary</a>
    </div>
        <ul class="link">
            <li ><a onclick="window.open('https://github.com/kevinng77/game_recommen_frontend')">
                <img src="https://cdn3.iconfinder.com/data/icons/social-rounded-2/72/GitHub-256.png">
            </a></li>
            <li id="sidebar_trigger"><a class="fa fa-bars ">
                <img src="static/list.png">
            </a></li>
        </ul>
</nav>
<div class="mask"></div>
<div id="sidebar">
	<ul>
        <li><a class="current_user">{{current_user}}</a></li>
        <li>
        <form action="/update_uid" method="post">
            <a>login with User ID:</a> <input type="text" name="uid" id="uid">
            <input type="submit" value="Login">
        </form>
        </li>
        <br><br>
        <li>Recommend based on:<br>
            - User History<br>
            - What you have Clicked</li>
        <li><a class="about_me" onclick="window.open('http://wujiawen.xyz')">
        About me</a></li>
	</ul>
</div>
<div class="wrapper">
    <div class="items">
        {% for Appid,name,pic,price,url,other in buffer %}
        <div class="item">
            <div class="img_block">
                <img src={{pic}} alt="item" />
            </div>
            <div class="name_block">
                <a>{{name}}</a>
            </div>

            <div class="game_tag">
                {{other}}
                <a class="dislike" onclick="update_like('{{Appid}}','{{name}}','dislike')">
                    <img src="static/dislike.png"></a>
                <a class="like" onclick="update_like('{{Appid}}','{{name}}','like')">
                    <img src="https://cdn0.iconfinder.com/data/icons/twitter-ui-flat/48/Twitter_UI-24-256.png">
                </a>
            </div>

            <div>
                <a  class="price"><em>${{price}}</em></a>
                <a class="details"  onclick="load_detail('{{url}}','{{Appid}}','{{name}}')">
                <em>Details>></em>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class = "load_block">
        <p> </p>
        <a class="loadmore"> <<< load more >>> </a>
    </div>
</div>
</body>
</html>